@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  height: 100%;
  background-image: linear-gradient(to top, white 50%, #5ad1bd 50%);
}
.App {
  width: 70%;
  height: 80%;
  background-color: #ffffff;
  margin: 5% auto;
  border-radius: 1rem;
  padding: 5rem 8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  color: #626262;
  position: relative;
  margin-bottom: 5rem;
}
.menu-icon {
  cursor: pointer;
}
.menu-item li {
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0.2rem;
  margin-left: 5rem;
  position: relative;
}
.menu-item a {
  text-decoration: none;
  color: #626262;
  font-size: 2rem;
}
.menu-item li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5rem;
  background-color: #5ad1bd;
  transition: all 0.25s ease-out;
}
.menu-item li:hover::after {
  width: 100%;
}
.search {
  position: absolute;
  right: 0;
  width: 50%;
}
.content {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  margin-bottom: 4rem;
}
.conent_poster {
  width: 50%;
  height: 100%;
}
.conent_poster img {
  width: 80%;
  height: 100%;
  object-fit: scale-down;
  /* object-position: center; */
  object-position: left;
}
.content_introduction {
  width: 100%;
}
.content_moviename {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content_moviename h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.movie_trailer {
  margin: 1.5rem 0;
  max-width: fit-content;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: #5ad1bd;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.movie_trailer:disabled {
  pointer-events: none;
}

.movie_trailer:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.movie_trailer:active {
  box-shadow: none;
  transform: translateY(0);
}
.movie_trailer h1 {
  font-weight: normal;
  font-size: 2rem;
}
.content_director p {
  text-transform: capitalize;
  font-size: 2rem;
}
.content_story {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.content_story p,
b {
  font-size: 1.6rem;
}
.content_cats {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.content_cats p,
b {
  font-size: 1.6rem;
}
.content_rating {
  display: flex;
  justify-content: space-between;
}
.content_rating p,
b {
  font-size: 1.6rem;
}
.show_genre {
  padding: 1rem;
  width: 30%;
}
.movie_genre {
  display: flex;
  align-items: center;
}
.detail_genre {
  margin-left: 10%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.detail_genre li {
  list-style: none;
  display: inline;
  padding: 1rem;
  background-color: #5ad1bd;
  color: #ffffff;
  border-radius: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
