ul {
  padding: 0;
  margin: 0;
}
.NewExpense {
  background-color: #897bda;
  padding: 3rem;
  text-align: center;
  border-radius: 1rem;
}
.NewExpense a {
  padding: 1rem 2rem;
  background-color: #862796;
  border-radius: 1rem;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.Addexpense {
  background-color: #897bda;
  padding: 3rem;
  border-radius: 1rem;
}
.Addexpense ul {
}
.Addexpense li {
  list-style: none;
  padding: 0.5rem 0;
}
.Addexpense li input {
  padding: 1rem 0;
}
.Addexpense .information {
  color: #ffff;
}
