@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
.NewExpense {
  background-color: #897bda;
  padding: 3rem;
  text-align: center;
  border-radius: 1rem;
}
.NewExpense a {
  padding: 1rem 2rem;
  background-color: #862796;
  border-radius: 1rem;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.Addexpense {
  background-color: #897bda;
  padding: 3rem;
  border-radius: 1rem;
}
.Addexpense ul {
}
.Addexpense li {
  list-style: none;
  padding: 0.5rem 0;
}
.Addexpense li input {
  padding: 1rem 1rem;
  width: 80%;
  border-radius: 1rem;
  border: 0.1px solid #ffff;
  font-size: 1.2rem;
}
.Addexpense .information {
  color: #ffff;
  font-size: 1.5rem;
  display: inline-block;
  width: 20%;
}
.Addexpense .submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.submit .add {
  text-transform: uppercase;
  padding: 1rem;
  margin-right: 2rem;
  color: #ffff;
  background-color: #862796;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.submit .cancel {
  text-transform: uppercase;
  padding: 1rem;
  background-color: #c2c2c2;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  border: #862796 0.1rem solid;
}
.detailsexpense {
  margin-top: 1rem;
  background-color: #191919;
  padding: 3rem;
  border-radius: 1rem;
}
.chooseyear {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chooseyear .filerrby {
  color: #ffff;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
}
.chooseyear #Years {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  font-weight: 600;
}
.detailsMonth {
  margin: 1rem 0;
  background-color: #e1cae4;
  display: flex;
  justify-content: space-between;
}
.partameter {
  padding: 2rem 0;
  margin-bottom: 0.2rem;
  background-color: #baa5ed;
  bor
}
